.newItemFormP2{

    .jpSelectBoxWrapper{
        margin: 3rem auto;
        max-width: 300px;
    }

    .navigation{
        padding: 10px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}