.loadPlans{

    display: flex;
    flex-direction: column;

    .jpBtnSm{
        margin-top: 1rem;
    }

}

.tableHeader, .tableBody{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

p{
    color: var(--textPrimary);
    padding: 10px;
    min-width: 100px;
    flex:1;
}

.tableHeader{
    margin-bottom: 1rem;

    p{
        background: var(--bgPrimary2);
        color: var(--primary);
        border: 1px solid var(--bgPrimary);
        font-weight: bold;
    }
}

.tableBody:nth-child(odd){
    p{  
        background: var(--bgPrimary2);
        border: 1px solid var(--bgPrimary);
    }      
}

.tableBody:nth-child(even){
    p{  
        background: var(--bgPrimary3);
        border: 1px solid var(--bgPrimary);
    }      
}
